/* Main */
@import "variables";

.main__banner {
    max-width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 22.5px;

    h1 {
        text-align: right;
        padding-top: 20px;
        padding-right: 30px;
        width: 100%;
        top: 40px;
        left: 800px;
        color: rgb(62, 62, 62);
        font-weight: 500;
        font-size: 3.5rem;
    }
}

#bannerImg {
    grid-area: bannerImg;
}

.main__banner--img {
    margin-top: -24px;
    width: 100%;
    /* height: 480px; */
    background-image: url(../images/dogs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.main__button {
    position: absolute;
    text-align: center;
    right: 30px;
    top: 180px;
    border-radius: 13px;
    height: 32px;
    width: 120px;
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 1.4rem;
    border: none;
    z-index: 100;

    &:hover {
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.13);
        font-weight: 500;
    }
}

main {
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 9px;
    width: 100%;

    h2 {
        position: relative;
        margin-left: 50px;
        top: 20px;
        z-index: 105;
        color: $seconday-color;
        font-size: 3.5rem;
    }
}

.grid__section {
    grid-area: grid__section;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: rgb(145, 237, 253); */
}

.section__card {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    width: 350px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: rgb(20, 20, 20);

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    }

    #iframe1 {
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

    #iframe2 {
        margin-bottom: 170px;
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

    #iframe3 {
        position: relative;
        flex-direction: row-reverse;
        border-radius: 15px 0 0 0;
        width: 40%;
    }

    h3 {
        margin: 0px 0px 10px 0px;
        position: absolute;
        bottom: 10px;
        font-size: 2.5rem;
        font-weight: bolder;
        width: max-content;
        color: $primary-color;
    }

    #card_break_line {
        position: relative;
        top: -160px;
        margin-left: 10px;
    }

    #card_btn_solicitar {
        position: relative;
        bottom: 20px;
        border-radius: 10px;
        width: 70px;
        height: 30px;
        margin-left: 260px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 85);
        font-weight: 500;
        font-size: 1.5rem;
    }

}

#horizontal__card {
    width: 500px;
}

.section__form {
    color: rgb(62, 62, 62);
    font-weight: 400;
    font-size: smaller;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px;

    &:label {
        width: 100%;
        color: rgb(20, 20, 20);
        font-weight: 300;

    }

    hr {
        border: 1px solid rgb(148, 148, 148);
        width: 100px;
    }

    #card_btn_enviar {
        position: absolute;
        bottom: 80px;
        border-radius: 10px;
        width: 70px;
        height: 30px;
        margin-left: 250px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 85);
        font-weight: 500;
        font-size: 1.5rem;
    }

    .placeholder {
        margin: 5px 0 10px 0;
        height: 2rem;
        font-size: smaller;
        padding-left: 10px;
        color: rgb(97, 97, 97);
        border-radius: 10px;
        background-color: white;
        border: 1px solid rgb(226, 226, 226);
    }
}

.section__form--input {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}