/* Main */

.main__section {
    display: flex;
}

.main__banner {
    max-width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2.5rem;
}

.main__banner--img {
    width: 100%;
    /* height: 480px; */
    background-image: url(https://i.imgur.com/OkIE0M6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.main__banner h1 {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;
    width: 100%;
    top: 4rem;
    left: 80rem;
    color: rgb(62, 62, 62);
    font-weight: 500;
    font-size: 4rem;
}

.main__button {
    position: absolute;
    right: 3rem;
    top: 20rem;
    border-radius: 1.5rem;
    background-color: rgb(255, 0, 85);
    color: white;
    font-size: 1.4rem;
    border: none;
    padding: 0.8rem;
    z-index: 100;
}

.main__button:hover {
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.13);
    font-weight: 500;
}

.section__card {
    border: 0.1rem solid rgb(226, 226, 226);
    border-radius: 1px;
    width: 50rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: rgb(20, 20, 20);
    position: relative;
}

.section__card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.section__card iframe {
    border-radius: 1px;
    display: flex;
    width: 100%;
}

.section__form  {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.section__form--input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
